{% extends 'base.html' %}

{% block content %}
<br>
<h3>Blog Posts...</h3>
<br>
{% for post in posts %}
<div class="shadow p-3 mb-5 bg-body rounded">
    <a href="{{ url_for('view.post', id=post.id ) }}"><h2>{{ post.title }}</h2></a>
    <small>
        By: {{ post.poster.name }} <br>
        Date Posted: {{ post.date_posted }} <br><br>
    </small>
    {{ post.content|safe }} <br>
    <br>
    <a href="{{ url_for('view.post', id=post.id ) }}" class="btn btn-outline-secondary btn-sm">View Post</a>
    {% if post.poster_id == current_user.id %}
        <a href="{{ url_for('view.edit_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Update</a>
        <a href="{{ url_for('view.delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
    {% endif %}
</div>

{% endfor %}

{% endblock %}