{% extends 'base.html' %}

{% block content %}
<br>



<div class="shadow p-3 mb-5 bg-body rounded">
    <h2>{{ post.title }}</h2>
    <small>
        {# აქ უნდა დავამატო ლინკი, ავტორის გვერდზე რომელიც გადაგვიყვანს #}
        By: {{ post.poster.name }} <br>
        Date Posted: {{ post.date_posted }} <br><br>
    </small>

    {{ post.content|safe }} 
    <br><br>

    <h3>Comments {{ comments|length }}</h3>
    <form method="post">
        {{ form.hidden_tag() }}

        {{ form.content(class="form-control",placeholder="Write a comment...") }}
        <br>
        {{ form.submit(class="btn btn-outline-success btn-sm")}}
    </form>
    <br>

    {% for comment in comments %}
        {% if comment.post_id == post.id %}
            {% if comment.commenter.name %}
                <h6><span style="color:#29a329">{{ comment.commenter.name }}:</span></h4>
                <p>{{ comment.content }}</p>{{ comment.date_posted }}
                {% if comment.commenter.id == current_user.id %}
                    <a href="{{ url_for('posts.delete_comment', post_id=post.id, comment_id=comment.id) }}" title="Delete Comment"><img src="{{url_for('static',filename='uploads/delete.png')}}" alt="delete icon" height="20" align="center"></a>
                {% endif %}
                <br>
                <br>
            {% else %}
                <p>  {{ comment.content }}</p>
            {% endif %}
        {% endif %}
    {% endfor %}

</div>

<a href="{{ url_for('posts.list') }}" class="btn btn-outline-secondary btn-sm">Back To Blog</a>
{% if post.poster_id == current_user.id %}
    <a href="{{ url_for('posts.edit', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Update</a>
    <a href="{{ url_for('posts.delete', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
{% endif %}

{% endblock %}