{% extends 'base.html' %}

{% block content %}

        <h1>Register New User</h1>
        <br>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                {{ form.name(class="form-control",placeholder='Name') }}
                <br>
                {{ form.username(class="form-control",placeholder='Username') }}
                <br>
                {{ form.email(class="form-control",placeholder='Email') }}
                <br>

                <input type="file" name="profile_pic" class="form-control" accept=".png, .jpg, .jpeg"/>
                
                <br>
                {{ form.password_hash(class="form-control",placeholder='Password') }}
                <br>
                {{ form.password_hash2(class="form-control",placeholder='Confirm Password') }}
                <br>
                <br>

                <div class="checkbox mb-3">
                    <h6>Already have an account?</h6>
                    <a class="btn btn-sm btn-secondary" href="{{ url_for('auth.login') }}">Login</a>
                </div>
                <br>
                {{ form.submit(class="btn  btn-outline-success") }}
            </form>
        </div>
{% endblock %}