{% extends 'base.html' %}

{% block head %}
<style>
    a {
    text-decoration: none;
}
</style>
{% endblock %}

{% block content %}
<br>

<div class="shadow p-3 mb-5 bg-body rounded">
    <h2>{{ post.title }}</h2>
    <small>
        By: <a href="{{ url_for('followers.user', username=post.poster.username) }}" >{{ post.poster.name }}</a> <br>
        Date Posted: <p type="datetime-local">{{ post.date_posted }}</p>  <br><br>
    </small>

    {{ post.content|safe }} 
    <br>
    <div class="like-div">
        <img src="{{url_for('static',filename='uploads/liked.png')}}"
              class="like-btn liked {% if can_like != True %}active{% endif %}"
              alt="liked"
              title="Unike Post"
              height="25">&nbsp;
        <img src="{{url_for('static',filename='uploads/like.png')}}"
             class="like-btn like {% if can_like == True %}active{% endif %}"
             alt="like"
             title="Like Post"
             height="28">
        <p id="like-count">&nbsp;{{ like|length }}  Likes</p>
    </div>
    <br>
    <br><br>

    <h3>Comments {{ comments|length }}</h3>
    <form method="post">
        {{ form.hidden_tag() }}

        {{ form.content(class="form-control",placeholder="Write a comment...") }}
        <br>
        {{ form.submit(class="btn btn-outline-success btn-sm")}}
    </form>
    <br>

    {% for comment in comments %}
        {% if comment.post_id == post.id %}
            {% if comment.commenter.name %}
                <h6><span style="color:#29a329">{{ comment.commenter.name }}:</span></h6>
                <p>{{ comment.content }}</p>{{ comment.date_posted }}
                {% if comment.commenter.id == current_user.id %}
                    <a href="{{ url_for('post.delete_comment', post_id=post.id, comment_id=comment.id) }}" title="Delete Comment">
                        <img src="{{url_for('static',filename='uploads/delete.png')}}" alt="delete icon" height="20" align="center">
                    </a>
                    <a href="{{url_for('post.update_comment',comment_id=comment.id,post_id=post.id)}}" class="btn btn-outline-secondary btn-sm">
                        Update
                    </a>
                {% endif %}
                <br>
                <br>
            {% else %}
                <p>  {{ comment.content }}</p>
            {% endif %}
        {% endif %}
        
        {% if comment.likes|length > 0 %}
                
            {% if current_user.is_authenticated %}
                {% if current_user.username in  comment.likes|string %}
                <p></p>
                        <a href="{{ url_for('post.like_comment',post_id=post.id, id=comment.id)}}">
                            <img src="{{url_for('static',filename='uploads/liked.png')}}" alt="liked" title="Like Comment" height="20">
                        </a>{{ comment.likes|length }}  Likes 
                    {% else %}
                        <a href="{{ url_for('post.like_comment',post_id=post.id, id=comment.id)}}">
                            <img src="{{url_for('static',filename='uploads/like.png')}}" alt="like" title="Like Comment" height="20">
                        </a>{{ comment.likes|length }}  Likes
                    {% endif %}
            {% else %}
                <a href="{{ url_for('post.like_comment',post_id=post.id, id=comment.id)}}">
                    <img src="{{url_for('static',filename='uploads/like.png')}}" alt="like" title="Like Comment" height="20">
                </a>{{ comment.likes|length }}  Likes
            {% endif %}
        {% else %}
            <a href="{{ url_for('post.like_comment',post_id=post.id, id=comment.id)}}">
                <img src="{{url_for('static',filename='uploads/like.png')}}" alt="like" title="Like Comment" height="20">
            </a>{{ comment.likes|length }}  Likes
        {% endif %}
        <br><br>
    {% endfor %}
</div>

<a href="{{ url_for('post.list') }}" class="btn btn-outline-secondary btn-sm">Back To Blog</a>
{% if post.poster_id == current_user.id %}
    <a href="{{ url_for('post.edit', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Update</a>
    <a href="{{ url_for('post.delete', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
{% endif %}
{% endblock %}

{% block script %}
<script>
    let likeBtn = document.querySelector(".like-btn.like");
    let unlikeBtn = document.querySelector(".like-btn.liked");
    function likeHandler(){
        let data = {
            postId: {{post.id}},
            //userId: {{current_user.id}}
        };
        console.log(data);
        fetch('/api/posts/like', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => {
            console.log(response, response.status);
            if (response.ok){
                return response.json();
            }
        }).then(
            data => {
                console.log(data);
                document.querySelector("#like-count").innerHTML = `&nbsp;${data.like_count} Likes`
                if (data.message.includes('add like')){
                    likeBtn.style.display = 'none';
                    unlikeBtn.style.display = 'block';
                } else {
                    likeBtn.style.display = 'block';
                    unlikeBtn.style.display = 'none';
                }
            }
        )
    };
    likeBtn.addEventListener("click", likeHandler);
    unlikeBtn.addEventListener("click", likeHandler);

</script>
{% endblock %}