{% extends 'base.html' %}

{% block content %}
    <Br>
    </Br>
        <h2>You Searched For: <em>"{{ searched }}"</em></h2>
        <h3></h3>
        <br>
        {% if posts_by_title or posts_by_content %}
            {% if posts_by_title %}
                {% for post in posts_by_title %}
                    <div class="shadow p-3 mb-5 bg-body rounded">
                        <a href="{{ url_for('post.post', id=post.id ) }}"><h2>{{ post.title }}</h2></a>
                        <small>
                            By: {{ post.poster.name }} <br>
                            Date Posted: {{ post.date_posted }} <br><br>
                        </small>
                        {{ post.content|safe }} <br>
                        <br>
                        <a href="{{ url_for('post.post', id=post.id ) }}" class="btn btn-outline-secondary btn-sm">View Post</a>
                        {% if post.poster_id == current_user.id %}
                            <a href="{{ url_for('post.edit', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Update</a>
                            <a href="{{ url_for('post.delete', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
                        {% endif %}
                    </div>
                    <br>
                {% endfor %}
            {% endif %}

            {% if posts_by_content %}
                {% for post in posts_by_content %}
                <div class="shadow p-3 mb-5 bg-body rounded">
                    <a href="{{ url_for('post.post', id=post.id ) }}"><h2>{{ post.title }}</h2></a>
                    <small>
                        By: {{ post.poster.name }} <br>
                        Date Posted: {{ post.date_posted }} <br><br>
                    </small>
                    {{ post.content|safe }} <br>
                    <br>
                    <a href="{{ url_for('post.post', id=post.id ) }}" class="btn btn-outline-secondary btn-sm">View Post</a>
                    {% if post.poster_id == current_user.id %}
                        <a href="{{ url_for('post.edit', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Update</a>
                        <a href="{{ url_for('post.delete', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
                    {% endif %}
                </div>
                <br>
                {% endfor %}
            {% endif %}
        {% else %}
            Sorry, your search term: <strong>"{{ searched }}"</strong> was not found...
        {% endif %}
{% endblock %}